@font-face{
    font-family: 'Neue Montreal';
    src: local(Neue Montreal),
    url(fonts/NeueMontreal-Medium.otf) format('woff');
    font-style: normal;
    font-weight: normal;
}
body {
    background:#d4cbc9;
    font-family: 'Neue Montreal', sans-serif;
}

*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
.inner{
    width:1600px;
    min-width: 1600px;
    min-height:800px;
    margin:0 auto;
    overflow: hidden;
    height: initial;
}

/*nav*/
#side-nav {
    position: fixed; 
    left: -300px; 
    top: 0; 
    width: 300px; 
    height: 100vh; 
    background: rgba(255,255,255,0.3);
    z-index: 99;
}
#side-nav.open {
    left: 0px;
}
#side-nav h1 {
    padding: 60px 20px 40px 20px; 
    color: #222; 
    font-size: 40px; 
    font-family: 'Abel'; 
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
#side-nav li {
    border-left: 5px solid transparent;
}
#side-nav li a {
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    text-transform: uppercase;
    color: #222;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
#side-nav li.active {
    background: rgba(255,255,255,0.4);
    border-left: 5px solid #fff;
}
#side-nav .navBtn {
    position: absolute; 
    right: -60px; 
    top: 10px;
    display: block; 
    width: 50px; 
    height: 50px;
    background: rgba(255,255,255,0.4);
    border-radius: 50%;
    text-align: center; 
    line-height: 50px;
    text-decoration: none;
    color: #222;
    font-size: 13px;
    z-index:100;
}
/*dot*/
#dot {
    position: fixed; 
    right: 20px; 
    top:50%; 
    transform: translatey(-50%);
    z-index: 99;
}
#dot li {
    position: relative;
    width: 20px; 
    height: 20px; 
    border-radius:50%; 
    box-shadow: 0 0 0 2px rgba(255,255,255,0);
    margin: 8px;
    transition: box-shadow 0.3s ease;
    z-index: 100;
}
#dot li a { 
    background-color: rgba(255,255,255,0.7);
    width: 100%; 
    height: 100%;
    position: absolute; 
    top:0; 
    left: 0;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#dot li.active {
    box-shadow: 0 0 0 2px rgba(255,255,255,1);
}
#dot li.active a {
    transform: scale(0.4);
}
#dot li a em {
    display: none;
} 


/*contents*/
#contents {
    text-align: center;
    color: #222;
}
#contents > .inner > div {
    height: 100vh;
    line-height: 100vh;
}
#contents > .inner > div h2 {
    font-size: 90px;
    font-weight: 100;
    text-transform: uppercase;
}
#contents > .inner > div h2 strong {
    font-weight: 700;
    font-style: italic;
}

/*section*/
/*
#section1 {
    background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
}
#section2 {
    background: radial-gradient(ellipse farthest-corner at center top, #cbf49a, #1ea623);
}
#section3 {
    background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
}
#section4 {
    background: radial-gradient(ellipse farthest-corner at center bottom, #6beace, #2e9aa4);
}
#section5 {
    background: radial-gradient(ellipse farthest-corner at center bottom, #69d2fb 0%, #20438E 100%);
}
#section6 {
    background: radial-gradient(ellipse farthest-corner at center top, #6cebcf 0%, #38a7aa 100%);
}
*/
#contents #section1{
    position: relative;
    text-align:left;
}
#contents #section1 section{
    position: absolute;
    bottom: 2vw;
    left: 0;
    z-index:98;
}
#contents #section1 section h2{
    font-weight: 400;
    font-size:11vw;
    line-height:.9;
}
#contents #section1 section h2 span{
    color:#fff;
}

@media (max-width: 800px){
    #nav .menu {
        display: none;
    }
    #nav .mNav {
        display: block;
    }
    #nav nav {
        width: 100%;
    }
    #nav .menu {
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #nav .menu li {
        width: 100%;
        display: inline-block;
    }
    #nav .menu li.active {
        background-color: rgba(255,255,255,.3);
    }
    #contents > div h2{
        font-size: 6vw;
        font-weight: 300;
    }