/*reset*/
/*pc inner 90vw tb inner 80vw*/
html{
    font-size:14px;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: #fff;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
/*nav*/
#nav {
    position: absolute;
    left: 0;
    top: 3vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 99;
}
#nav h1 {
    float:left;
    font-size:28px;
    padding:10px 10px 10px 20px;
    letter-spacing: -1px;
}
#nav h1 a{
    color: #000;
}
#nav ul {
    float:right;
    padding-right: 10px;
}
#nav ul li {
    display: inline;
    font-size:1rem;
}
#nav ul li a {
    position: relative;
    display: inline-block;
    padding: 20px 15px;
    color: #000;
    text-transform: uppercase;
}
#nav ul li a:after{
    content:"";
    background:#222;
    position: absolute;
    bottom:-1px;
    left:50%;
    width:0;
    height:.18rem;
    transition: all .3s;
}
#nav.on {
    position: fixed;
    top:0;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    background: rgba(255,255,255,1)
}
#nav.on h1 a{
    color: #000;
}
#nav.on ul li a{
    color: #666;
}
#nav.on ul li.active a{
    color:#000;
}
#nav.on ul li.active a:after{
    width: 100%;
    left: 0;
}
#nav .mNav{
    display:none;
    position: absolute;
    top:7px;
    right:10px;
    width:65px;
    height:45px;
    cursor:pointer;
}
/*icon-menu*/
.icon-wrap {
    padding-left:10px;
}
.icon-wrap .icon, .icon-wrap .icon:before, .icon-wrap .icon:after {
    width:45px;
    height:4px;
    background: #fff;
}
#nav.on .icon-wrap .icon, #nav.on .icon-wrap .icon:before, #nav.on .icon-wrap .icon:after {
    background:#222;
}
.icon-wrap .icon {
    position: relative;
    margin-top:20px;
}
.icon-wrap .icon:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;

}
.icon-wrap .icon:after {
    content: "";
    position: absolute;
    left:0;
    top:10px;
}
/*scroll - mouse*/
.mousey{
    outline: 3px solid red;
    width: 5px;
    padding: 7px 12px;
    height: 35px;
    border-radius: 22px;
    border: 4px solid #000;
    box-sizing: content-box;
    margin: 0 auto;
}
.scroller{
    width: 5px;
    height: 8px;
    border-radius: 25%;
    background-color: #000;
    animation-name: scroll;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
.scroll-downs p {
    font-size:1vw;
    color: #000;
    padding: 1rem 0;
}
@keyframes scroll{
    0%{
        opacity: 0;
    }
    10%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(18px);
        opacity: 0;
    }
}
/*contents*/
.inner > div {
    min-height: 160vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 10px solid red;
}
.inner > div > h2, #autoType {
    color: black;
    font-size: 4vw;
    text-align: center;
}
/*section1*/
#section1{
    display: block;
}
.balloon{
    position: relative;
    width: 70vw;
    height: 20vh;
    background: #f0dbdb;
    margin: 10rem auto;
    z-index: 97;
}
.balloon::after{
    content: "";
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    border-top: 5vw solid #f0dbdb; 
    border-left: 5vw solid transparent; 
    border-right: 5vw solid transparent; 
    border-bottom: 0px solid transparent;
    z-index: 97;
}
.balloon::before{
    position: absolute;
    top: 10rem;
    left: 10rem;
    content: "";
    width: 70vw;
    height: 20vh;
    border: 1rem solid black;
    z-index: 98;
    
}
#autoType {
    min-height: 20vh;
    line-height: 20vh;
}
#autoType:after{
    content:"|";
    animation: cursor .6s infinite;
    font-style: normal;
}
@keyframes cursor{
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
/*section2*/
#section2 h2{
    color: #222;
}
@keyframes movebg {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: -120px 60px;
    }
}
.skill_box {
    width: 90vw;
    min-height: 80vh;
    border: 4px solid #000;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}
.skill_box > div{
    border: 4px solid #000;
    width: 25vw;
    height: 15vw;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.skill_box > div:nth-child(6){
    margin-right: 0;
}
.skill_box > div:hover{
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translate(-0.4rem, -0.4rem);
}
.skill_box > div > div{
    background: #000;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    transform-style: preserve-3d;
    transition: all .4s;
}
.skill_box > div > div:after{
    font-style: italic;
    font-size: 1.6vw;
    content: "";
    display: block;
    color: #fff;
    text-align: center;
    line-height: 10vw;
}
.skill_box > div:first-child > div:after{
    content: "HTML5";
}
.skill_box > div:nth-child(2) > div:after{
    content: "CSS3";
}
.skill_box > div:nth-child(3) > div:after{
    content: "Javascript";
}
.skill_box > div:nth-child(4) > div:after{
    content: "Ps";
}
.skill_box > div:nth-child(5) > div:after{
    content: "Ai";
}
.skill_box > div:nth-child(6) > div:after{
    content: "XD";
}
.skill_box > div:hover div {
    transform: rotateY(180deg);
    background: #ffd966;
}
.skill_box > div:hover div:after{
    transform: rotateY(180deg);
    color: #000;
}
.skill_box > div:first-child:hover div:after{
    content: "90%";
}
.skill_box > div:nth-child(2):hover div:after{
    content: "90%";
}
.skill_box > div:nth-child(3):hover div:after{
    content: "70%";
}
.skill_box > div:nth-child(4):hover div:after{
    content: "70%";
}
.skill_box > div:nth-child(5):hover div:after{
    content: "70%";
}
.skill_box > div:nth-child(6):hover div:after{
    content: "70%";
}
/*section3*/
#section3{
    min-height: 500vh;
    position: relative;
    overflow: hidden;
    justify-content: space-around;
}
.window-container {
    position: relative;
    width: 60vw;
    display: flex;
    flex-flow: wrap;
    z-index: 98;
    margin-right: 15vw;
}
.window-container:nth-child(2n){
    margin-right: 0;
    margin-left: 15vw;
}
.window-container::before, .window-container::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #f0dbdb;
    border: 2px solid #000;
    display: block;
    position: absolute;
    top: .8rem;
    left: -.8rem;
    z-index: 97;
}
.window-container::after{
    top: 1.6rem;
    left: -1.6rem;
    z-index: 96;
}
.window-container:nth-child(2n)::before{
    top: .8rem;
    left: .8rem;
}
.window-container:nth-child(2n)::after{
    top: 1.6rem;
    left: 1.6rem;
}
.window-top {
    width: 100%;
    padding: 10px;
    background: #fff;
    border: 2px solid #000;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    position: relative;
    z-index: 98;
}
.top-left span {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #000;
    border: 2px solid #000;
    float: right;
    margin-right:5px;
    background: #f0dbdb;
}
.txt_head{
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    font-size: 5vw;
    z-index: 99;
    position: absolute;
    bottom: -2vh;
    right: -20vw;
    color: rgb(162, 194, 245);
    letter-spacing: .5rem;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    color: #000;
}
.txt_head p::after{
    content: "responsive";
    display: block;
    color: #fff;
    position: absolute;
    top: -.4vw;
    right: -.4vw;
}
.txt_head h3{
    color: #000;
    font-size: 7vw;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    text-align: right;
    position: relative;
    font-weight: 900;
}
.txt_head h3::after{
    content: "cello";
    display: block;
    color: #fff;
    position: absolute;
    top: -.5vw;
    right: -.5vw;
}
.window-container:nth-child(2n) .txt_head{
    position: absolute;
    bottom: -2vh;
    left: -20vw;
}
.window-container:nth-child(2n) .txt_head h3{
    text-align: left;
}
.window-container:nth-child(2n) .txt_head h3::after{
    left: -.5vw;
}
.window-container:nth-child(2n) .txt_head p::after{
    left: -.4vw;
}
.dat_head p::after, .mnh_head p::after, .lol_head p::after{
    content: "adaptive";
}
.dat_head h3::after{
    content: "da tech";
}
.mnh_head h3::after{
    content: "mnh";
}
.lol_head h3::after{
    content: "lol"
}
.work{
    position: relative;
    width: 100%; 
    background: #fff;
    min-height: 70vh;
    border: 2px solid #000;
    border-top: none;
    box-sizing: border-box;
    z-index: 98;
}
.work > div{
    width: 100%;
    height: 100%;
    animation-name: visual;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cello{
    background: url('http://puiux.kr/images/celloimg.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.dat{
    background: url('http://puiux.kr/images/datimg.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.mnh{
    background: url('http://puiux.kr/images/mnhimg.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.lol{
    background: url('http://puiux.kr/images/lolimg.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.work:hover div{
    animation-play-state: paused;
}
.work:hover .cello{
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)),
                url('http://puiux.kr/images/celloimg.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.work:hover .dat{
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)),
                url('http://puiux.kr/images/datimg.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.work:hover .mnh{
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)),
                url('http://puiux.kr/images/mnhimg.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.work:hover .lol{
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)),
                url('http://puiux.kr/images/lolimg.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
/*sliding*/
@-webkit-keyframes visual{
    0%{
        opacity: .4;
    }
    1%{
        opacity: 1;
    }
    5%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 100%;
    }
}
@keyframes visual{
    0%{
        opacity: .4;
    }
    1%{
        opacity: 1;
    }
    5%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 100%;
    }
}
.sns p{
    margin: 2rem 0;
}
@media (max-width: 800px){
    #nav .menu {
        display: none;
    }
    #nav .mNav {
        display: block;
    }
    #nav{
        width: 100%;
    }
    #nav .menu {
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #nav .menu li {
        background-color: rgba(255,255,255,1);
        width: 100%;
        display: inline-block;
        text-align: left;
        text-indent: 1rem;
        border-bottom: 1px solid rgba( 0,0,0,0.08 );
    }
    #nav .menu li a{
        color: rgb(163, 159, 159);
    }
    #nav .menu li.active a{
        color: #000;
    }
    #nav.on .menu li.active a:after{
        width: 0;
    }
    #contents > div h2{
        font-size: 6vw;
        font-weight: 300;
    }
    .skill_box {
        width: 80vw;
    }
    .skill_box > div{
        width: 30vw;
    }
    .sns, .sns a{
        font-size: 1.6rem;
    }
}