/*reset*/
html{
    font-size:14px;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x:hidden;
    background:#fff;
    transition: background .6s ease-in;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
.color-puff-1{
    background:rgba(255, 0, 0, 0.719);
}
.color-puff-2{
    background:rgba(255, 255, 0, 0.719);
}
.color-puff-3{
    background:rgba(0, 0, 255, 0.719);
}
.color-puff-4{
    background:rgba(128, 0, 128, 0.719);
}
.color-puff-5{
    background:rgba(0, 128, 0, 0.719);
}
.color-puff-6{
    background:rgba(255, 192, 203, 0.719);
}

/*nav*/
#nav {
    font-family: 'Alfa Slab One', sans-serif;
    position: absolute;
    left: 0;
    top: 3vh;
    width: 100%;
    background-color: rgba(255,255,255,0);
    z-index: 99;
}
#nav h1 {
    float:left;
    font-size:28px;
    padding:10px 10px 10px 20px;
    letter-spacing: -1px;
}
#nav h1 a{
    color: rgb(242, 222, 38);
}
#nav ul {
    float:right;
    padding-right: 10px;
}
#nav ul li {
    display: inline;
    font-size:1rem;
}
#nav ul li a {
    position: relative;
    display: inline-block;
    padding: 20px 15px;
    color: #fff;
    text-transform: capitalize;
}
#nav ul li a:after{
    content:"";
    background:#222;
    position: absolute;
    bottom:-1px;
    left:50%;
    width:0;
    height:.18rem;
    transition: all .3s;
}
#nav.on {
    position: fixed;
    top:0;
    background-color: rgba(255,255,255,1);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.1);
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
#nav.on h1 a{
    color: #222;
}
#nav.on ul li a{
    color:rgb(163, 159, 159);
}
#nav.on ul li.active a{
    color:#222;
}
#nav.on ul li.active a:after{
    width: 100%;
    left: 0;
}

#nav .mNav{
    display:none;
    position: absolute;
    top:7px;
    right:10px;
    width:65px;
    height:45px;
    cursor:pointer;
}

/*icon-menu*/
.icon-wrap {
    padding-left:10px;
}
.icon-wrap .icon, .icon-wrap .icon:before, .icon-wrap .icon:after {
    width:45px;
    height:4px;
    background: #fff;
}
#nav.on .icon-wrap .icon, #nav.on .icon-wrap .icon:before, #nav.on .icon-wrap .icon:after {
    background:#222;
}
.icon-wrap .icon {
    position: relative;
    margin-top:20px;
}
.icon-wrap .icon:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;

}
.icon-wrap .icon:after {
    content: "";
    position: absolute;
    left:0;
    top:10px;
}

/*scroll - mouse*/
.scroll-downs{
    position: absolute;
    top: 80vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 34px;
    height: 55px;
    z-index: 98;
}
.mousey{
    width: 3px;
    padding: 7px 12px;
    height: 35px;
    border-radius: 25px;
    border: 2px solid rgb(242, 222, 38);
    box-sizing: content-box;
}
.scroller{
    width: 3px;
    height: 8px;
    border-radius: 25%;
    background-color: rgb(242, 222, 38);
    animation-name: scroll;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}
.scroll-downs p {
    font-family: 'Alfa Slab One', sans-serif;
    text-indent: -3rem;
    letter-spacing: 1rem;
    color: rgb(242, 222, 38);
    padding:1rem 0;
}
@keyframes scroll{

    0%{
        opacity: 0;
    }
    10%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(15px);
        opacity: 0;
    }

    @keyframes downup{
        0% {
            opacity: 0;
            transform: translateY(0, 100px);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    @keyframes bounce{
        from,
        to {
            margin-bottom: 0;
            animation-timing-function: ease-out;
        } 50% {
            margin-bottom: 8px;
            animation-timing-function: ease-in;
        }
    } 
}

/*contents*/
#contents {
    text-align: center;
}
#contents > .inner > div {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contents > .inner > div h2 {
    font-size: 60px;
    font-weight: 100;
    text-transform: uppercase;
}
#contents > .inner > div h2 span{
    font-family: 'Alfa Slab One', sans-serif;
    color: rgb(242, 222, 38);
    font-style: italic;
}


/*text animation*/
#contents .inner h2{
    transition: all .6s ease-in;
}
#section2 h2 {
    opacity: 0;
}
#section3 h2 {
    opacity: 0;
}
#section4 h2 {
    opacity: 0;
}
#section5 h2 {
    opacity: 0;
}
#section6 h2 {
    opacity: 0;
}
#section2.show h2{
    opacity: 1;
}
#section3.show h2{
    opacity: 1;
}
#section4.show h2{
    opacity: 1;
}
#section5.show h2{
    opacity: 1;
}
#section6.show h2{
    opacity: 1;
}

@media (max-width: 800px){
    #nav .menu {
        display: none;
    }
    #nav .mNav {
        display: block;
    }
    #nav{
        width: 100%;
    }
    #nav .menu {
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #nav .menu li {
        background-color: rgba(255,255,255,1);
        width: 100%;
        display: inline-block;
        text-align: left;
        text-indent: 1rem;
        border-bottom: 1px solid rgba( 0,0,0,0.08 );
    }
    #nav .menu li a{
        color: rgb(163, 159, 159);
    }
    #nav .menu li.active a{
        color: #000;
    }
    #nav.on .menu li.active a:after{
        width: 0;
    }
    #contents > div h2{
        font-size: 6vw;
        font-weight: 300;
    }
}