html{
    font-size:14px;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
    background: #fff;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}

/*nav*/
#nav {
    position: absolute;
    left: 0;
    top: 3vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 99;
}
#nav h1{
    float:left;
    font-size: 28px;
    padding: 10px 10px 10px 20px;
    letter-spacing: -1px;
}
#nav h1 a{
    color: #000;
}
#nav ul {
    float:right;
    padding-right: 10px;
}
#nav ul li {
    display: inline;
    font-size:1rem;
}
#nav ul li a {
    position: relative;
    display: inline-block;
    padding: 20px 15px;
    color: #000;
    text-transform: uppercase;
}
#nav ul li a:after{
    content:"";
    background:#222;
    position: absolute;
    bottom:-1px;
    left:50%;
    width:0;
    height:.18rem;
    transition: all .3s;
}
#nav.on {
    position: fixed;
    top:0;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    background: rgba(255,255,255,1)
}
#nav.on ul li a{
    color: #666;
}
#nav.on ul li.active a{
    color:#000;
}
#nav.on ul li.active a:after{
    width: 100%;
    left: 0;
}
#nav .mNav{
    display: none;
    position: absolute;
    top:7px;
    right:10px;
    width:65px;
    height:45px;
    cursor:pointer;
}
/*icon-menu*/
.icon-wrap .icon, .icon-wrap .icon:before, .icon-wrap .icon:after {
    width:45px;
    height:4px;
    background: #fff;
}
#nav.on .icon-wrap .icon, #nav.on .icon-wrap .icon:before, #nav.on .icon-wrap .icon:after {
    background:#222;
}
.icon-wrap .icon {
    margin-top: 20px;
    position: relative;
}
.icon-wrap .icon::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
}
.icon-wrap .icon::after {
    content: "";
    position: absolute;
    left:0;
    top: 10px;
}
/*scroll - mouse*/
.mousey{
    width: 40px;
    height: 70px;
    border-radius: 30px;
    border: 4px solid #000;
    box-sizing: content-box;
    margin: 0 auto;
}
.scroller{
    width: 6px;
    height: 12px;
    margin: 12px auto 0;
    border-radius: 30%;
    background-color: #000;
    animation: scroll 1.6s linear infinite;
}
.scroll-downs p{
    text-align: center;
    font-size: 2rem;
    letter-spacing: .4rem;
    margin: 1rem 0;
}
@keyframes scroll{
    0%{
        opacity: 0;
    }
    10%{
        transform: translateY(4px);
        opacity: 1;
    }
    100%{
        transform: translateY(20px);
        opacity: 0;
    }
}
/*contents*/
.inner > div {
    min-height: 160vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*section1*/
#section1{
    position: relative;
    height: 120vh;
    justify-content: space-evenly;
    background-color: #fff;
    background-image: linear-gradient(90deg, rgba(255,222,222,.5) 50%, transparent 50%), 
                      linear-gradient(rgba(255,222,222,.5) 50%, transparent 50%);
    background-size: 50px 50px;
}
.post_box{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 10rem 0;
    box-sizing: border-box;
    position: relative;
}
.post-it-note {
    font-family: 'Comic Neue', cursive;
    font-size: 7vw;
    line-height: 17vh;
    text-align: center;
    position: relative;
    width: 15vw;
    height: 15vh;
    background: #ffe79f;
}
.post-it-note::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2vw;
    right: 2vw;
    background: #ffe79f;
    width: calc(100%-2vw);
    height: 2vw;
}
.post-it-note::before {
    content: "";
    position: absolute;
    bottom: -2vw;
    right: 0;
    border-top: 2vw solid #ffe185;
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
    border-bottom: 0vw solid transparent;
}
.post_1{
    background: #ffdede;
    transform: rotate(5deg);
}
.post_1::after{
    background: #ffdede;
}
.post_1::before{
    border-top: 2vw solid #ffc2c2;
}
.post_2{
    transform: rotate(-5deg);
}
.post_3{
    background: #dcdbf0;
    transform: rotate(5deg);
}
.post_3::after{
    background: #dcdbf0;
}
.post_3::before{
    border-top: 2vw solid #c3c0f8;
}
.post_4{
    background: #e6d1f5;
}
.post_4::after{
    background: #e6d1f5;
}
.post_4::before{
    border-top: 2vw solid #dab2f7;
}
.post_5{
    transform: rotate(-5deg);
}
.post_6{
    background: #e6d1f5;
    transform: translateX(2vw) rotate(5deg);
}
.post_6::after{
    background: #e6d1f5;
}
.post_6::before{
    border-top: 2vw solid #dab2f7;
}
.post_7{
    position: absolute;
    background: #ffdede;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.post_7::after{
    background: #ffdede;
}
.post_7::before{
    border-top: 2vw solid #ffc2c2;
}
.post_8{
    position: absolute;
    
    background: #ffdede;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.post_8::after{
    background: #ffdede;
}
.post_8::before{
    border-top: 2vw solid #ffc2c2;
}
.post_7 img, .post_8 img{
    display: inline-block;
    width: 30%;
    height: auto;
    min-width: 70px;
    vertical-align: middle;
}
#Layer_1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8vw;
}
.st0{
    fill:transparent;
    stroke:#000000;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit: 10;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    stroke-width: 6;
    animation: draw 4s ease-in infinite;
}
@keyframes draw {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
}
/*section2*/
#section2{
    min-height: 140vh;
    background:#ffdede;
    justify-content: space-around;
}
.skill_box{
    width: 80vw;
    min-height: 10vh;
    border-radius: 1rem;
    background: #fff;
    margin: 4rem 0;
}
.skill_box button{
    font-family: 'Comic Neue', cursive;
    outline: 0;
    border: none;
    display: block;
    width: 100%;
    background: transparent;
    line-height: 10vh;
    cursor: pointer;
    font-size: 3rem;
    text-align: start;
    text-indent: 2vw;
}
.skill_box .panel{
    padding: 2rem;
    display: none;
    overflow: hidden;
}
.skill_box .panel section{
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem 0;
}
.panel section h3{
    font-size: 1.3rem;
}
.panel section p{
    font-size: 1rem;
}
.s1{
    background: #dcdbf0;
    background-image: radial-gradient(#fff 20%, transparent 0), radial-gradient(#fff 20%, transparent 0);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
}
.s1 .panel .c1::after{
    content:" 🤝";
    animation: res 1s infinite;
}
@keyframes res{
    from{
        content: " 🤝";
    } to {
        content: "🤝 ";
    }
}
.s1 .panel .c2::after{
    content:" 😄";
    animation: joyful 1s infinite;
}
@keyframes joyful{
    from{
        content:" 😄";
    } to {
        content:"😄 ";
    }
}
.s1 .panel .c3::after{
    content: " 💪";
    animation: energy 1s infinite;
}
@keyframes energy{
    from {
        content: " 💪";
    } to{
        content: "💪 ";
    }
}
.s2{
    background:
        linear-gradient(135deg, #ffe79f 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #ffe79f 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #ffe79f 25%, transparent 25%),
        linear-gradient(45deg, #ffe79f 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #dab2f7;

}
.s3{
    background:
        radial-gradient(circle closest-side at 60% 43%, #dab2f7 26%, rgba(187,0,51,0) 27%),
        radial-gradient(circle closest-side at 40% 43%, #dab2f7 26%, rgba(187,0,51,0) 27%),
        radial-gradient(circle closest-side at 40% 22%, #fff 45%, rgba(221,51,85,0) 46%),
        radial-gradient(circle closest-side at 60% 22%, #fff 45%, rgba(221,51,85,0) 46%),
        radial-gradient(circle closest-side at 50% 35%, #fff 30%, rgba(221,51,85,0) 31%),

        radial-gradient(circle closest-side at 60% 43%, #dab2f7 26%, rgba(187,0,51,0) 27%) 50px 50px,
        radial-gradient(circle closest-side at 40% 43%, #dab2f7 26%, rgba(187,0,51,0) 27%) 50px 50px,
        radial-gradient(circle closest-side at 40% 22%, #fff 45%, rgba(221,51,85,0) 46%) 50px 50px,
        radial-gradient(circle closest-side at 60% 22%, #fff 45%, rgba(221,51,85,0) 46%) 50px 50px,
        radial-gradient(circle closest-side at 50% 35%, #fff 30%, rgba(221,51,85,0) 31%) 50px 50px;
    background-color:#dab2f7;
    background-size:100px 100px;
}
.s4{
    background: radial-gradient(circle closest-side at 50px 50px, #ffc2c2 18px, transparent 0), radial-gradient(circle closest-side at 62px 50px, #ffc2c2 18px, transparent 0), radial-gradient(circle closest-side at 67px 50px, #ffc2c2 18px, transparent 0), radial-gradient(circle closest-side at 123px 150px, #ffc2c2 18px, transparent 0), radial-gradient(circle closest-side at 140px 150px, #ffc2c2 18px, transparent 0), radial-gradient(circle closest-side at 145px 150px, #ffc2c2 18px, transparent 0), radial-gradient(circle at 68px 22px, #36964C 8px, transparent 0), radial-gradient(circle at 36px 25px, #F9D9AC 20px, transparent 0), radial-gradient(circle closest-side at 81px 25px, #F9D9AC 20px, transparent 0), radial-gradient(circle at 58px 30px, #286E38 15px, transparent 0), radial-gradient(circle at 142px 120px, #36964C 8px, transparent 0), radial-gradient(circle at 110px 125px, #F9D9AC 20px, transparent 0), radial-gradient(circle closest-side at 155px 125px, #F9D9AC 20px, transparent 0), radial-gradient(circle at 132px 130px, #286E38 15px, transparent 0);
    background-color: #F9D9AC;
    background-size: 180px 210px;
}
.s5{
    background-color: #fff; 
    background-image: linear-gradient(#eee .1rem, transparent .1rem);
    background-size: 100% 2rem;
}
.s5 .panel section{
    background: transparent;
}
.s5 .panel section h3{
    position: relative;
    display: inline-block;
}
.s5 .panel section h3::after{
    display: block;
    content: "";
    background: #ffef5b;
    opacity: .3;
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: -.2rem;
    left: 0;   
}
.s5 .panel p{
    margin: 0 0 0 2rem;
}
.s5 a{
    color: #000;
    display: block;
    padding: .6rem;
    width: 100%;
}
/*section3*/
#section3{
    min-height: 500vh;
    position: relative;
    overflow: hidden;
    justify-content: space-around;
    background-image: 
        linear-gradient(transparent 41px, #f9d8d4 42px, transparent 12px),
        linear-gradient(90deg, transparent 41px, #f9d8d4 42px, transparent 12px);
    background-size: 100% 42px, 42px 100%;
}
.window-container {
    position: relative;
    width: 60vw;
    display: flex;
    flex-flow:row wrap;
    z-index: 98;
    margin-right: 15vw;
    box-shadow: 1rem 1rem 0 #ffdede, 1rem 1rem 0 2px #000, 2rem 2rem 0 #ffdede, 2rem 2rem 0 2px #000;
}
.window-top {
    width: 100%;
    padding: 10px;
    background: #fff;
    border: 2px solid #000;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    position: relative;
    z-index: 98;
}
.top-left span {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #000;
    border: 2px solid #000;
    float: right;
    margin-right:5px;
    background: #ffdede;
}
.txt_head{
    position: absolute;
    bottom: -2vh;
    right: -20vw;
    z-index: 99;
    text-shadow: -2px -2px 0 #fff,
                  2px 2px 0 #fff, 
                  4px 4px 0 #ffbbbb,
                  10px 10px 0 #ffcdcd,
                  14px 14px 0 #ffdddd,
                  18px 18px 0 #ffe7e7,
                  22px 22px 0 #fff5f5;
                   
    font-size: 8rem;
    color: rgb(162, 194, 245);
    letter-spacing: .5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffa0a0;
    text-align: right;
}
.txt_head strong{
    font-weight: 900;
}
.work{
    position: relative;
    width: 100%; 
    background: #fff;
    min-height: 70vh;
    border: 2px solid #000;
    border-top: none;
    box-sizing: border-box;
    z-index: 98;
}
.work > .clone{
    width: 100%;
    height: 100%;
    animation-name: visual;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cello{
    background: url('../images/cello_clone_coding_screenshot.jpg') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.dat{
    background: url('../images/da_technology_clone_coding_screenshot.jpg') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.mnh{
    background: url('../images/mnh_clone_coding_screenshot.jpg') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.lol{
    background: url('../images/lol_clone_coding_screenshot.jpg') no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.work:hover .clone{
    animation-play-state: paused;
    opacity: .5;
}
@keyframes visual{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}
/*section4*/
#section4 {
    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
                radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
                radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #f9d8d4;
    background-size:110px 200px;
    background-repeat:repeat-x;
    flex-flow: row nowrap;
    height: 160vh;
}
#section4 .app_container{
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section4 dl{
    width: 40vw;
    height: 100%;
    outline: 10px solid orange;
    text-align: center;
}
.phone_content{
    width: 280px;
    height: 510px;
    border-radius: 45px;
    background: #dab2f7;
    border: 8px solid #fff;
    overflow: hidden;
}
.glass{
    width: 100%;
    height: 100%;
    border-radius: 36px;
    background: transparent;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 8px solid rgba(255,255,255, .4);
    box-sizing: border-box;
}
.camera{
    width: 60px;
    height: 8px;
    border-radius: 8px;
    background: #fff;
}
.screen{
    width: 230px;
    height: 370px;
    background: #e6d1f5;
    border: 8px solid #fff;
    box-sizing: border-box;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
}
.shot1{
    position: absolute;
    width: 10%;
    height: 180%;
    top: 10%;
    left: 0;
    background: rgba(255, 255, 255, .4);
    transform: rotate(28deg) translate(-50%, -50%);
    z-index: 96;
}
.shot2{
    position: absolute;
    width: 20%;
    height: 160%;
    top: 50%;
    left: 0;
    background: rgba(255, 255, 255, .4);
    z-index: 96;
    transform: rotate(28deg) translate(-50%, -50%);
}
.screen svg{
    width: 80%;
    height: auto;
    display: block;
    margin: 5rem auto;
}
.mouth{
    animation: smile 4s ease-in-out infinite;
}
@keyframes smile {
    from{
        d: path("M3.1,18.3c0,0,2,0,13.2,0s12.8,0,12.8,0");
    } to {
        d: path("M3.1,18.3c0,0,1.8,3.7,13,3.7s13-3.7,13-3.7");
    }
}
.hold{
    width: 65px;
    height: 25px;
    border-radius: 10px;
    background: #dab2f7;
    border: 4px solid #fff;
    box-sizing: border-box;
}
/*section5*/
#section5{
    background: radial-gradient(circle closest-side at 50px 50px, #fb8b24 3px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 40px 60px, #fb8b24 3px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 60px 60px, #fb8b24 3px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 50px 70px, #fb8b24 3px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 150px 165px, #fb8b24 3px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 140px 175px, #fb8b24 3px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 160px 175px, #fb8b24 3px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 150px 185px, #fb8b24 3px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(ellipse closest-side at 50px 60px, #f9a734 18px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(ellipse closest-side at 150px 175px, #f9a734 18px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 30px 40px, #f9d8d4 15px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 40px 35px, #36964c 15px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 70px 40px, #f9d8d4 15px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 60px 35px, #286e38 15px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 130px 155px, #f9d8d4 15px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle closest-side at 140px 150px, #36964c 15px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle at 170px 155px, #f9d8d4 15px, rgba(0, 0, 0, 0) 0%), 
        radial-gradient(circle at 160px 150px, #286e38 15px, rgba(0, 0, 0, 0) 0%);
    background-color: #F9D8D4;
    background-size: 180px 210px;
    flex-flow: row wrap;
    justify-content: space-around;
}
#section5 .contactImg, #section5 .contact{
    width: 45vw;
}
#section5 .contactImg{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#section5 .polaroid{
    position: relative;
    z-index: 96;
    max-width: 30%;
    filter: grayscale(100%);
    background: #fff;
    padding: 2vw;
    padding-bottom: 5vw;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    transform: scale(1);
}
#section5 .polaroid img{
    max-width: 100%;
}
#section5 .polaroid:hover{
    filter: none;
    transition: all 0.35s;
}
#section5 .polaroid:first-child{
    position: relative;
    transform: scale(.9) rotate(4deg);
}
#section5 .polaroid:first-child:hover{
    transform: scale(1.1) rotate(0);
    z-index: 97;
}
#section5 .polaroid:nth-child(2){
    position: relative;
    transform: scale(.9) rotate(-10deg) translateY(-10%);
}
#section5 .polaroid:nth-child(2):hover{
    z-index: 97;
    transform: scale(1.1) rotate(0) translateY(-10%);
}
#section5 .polaroid:nth-child(3){
    transform: scale(.9) rotate(-10deg) translateY(-10%);
}
#section5 .polaroid:nth-child(3):hover{
    z-index: 97;
    transform: scale(1.1) rotate(0) translateY(-10%);
}
#section5 .polaroid:last-child{
    transform: scale(.9) rotate(10deg) translateY(-20%);
}
#section5 .polaroid:last-child:hover{
    z-index: 97;
    transform: scale(1.1) rotate(0) translateY(-20%);
}
.contact h3{
    font-family: 'Comic Neue', cursive;
    font-size: 6vw;
    color: #fff;
    text-align: center;
}
.contact form {
    position: relative;
    width: 80%;
    margin: 2rem auto 4rem;
    background: #f8f4e5;
    border: 2px solid #000;
    box-shadow: 15px 15px 0 #e6d1f5, 15px 15px 0 2px #000;
    padding: 4rem 2rem;
    box-sizing: border-box;
}
.contact label{
    display: block;
    color: #222;
    font-family: 'Comic Neue', cursive;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.contact input, .contact textarea{
    outline: 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding: .5rem 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
}
.contact textarea{
    resize: none;
}
.contact input[type="text"]:focus, 
.contact input[type="email"]:focus,
.contact textarea:focus{
    border-bottom: 2px solid #ffa580;
}
.contact input::placeholder, .contact textarea::placeholder{
    color: #aaa;
    font-size: 1rem;
}
.contact button{
    width: 90%;
    display: block;
    margin: 0 auto;
    outline: 0;
    border: 2px solid #000;
    background: #ffa580;
    box-shadow: 10px 10px 0 #e6d1f5, 10px 10px 0 2px #000;
    transition: .2s all ease-in-out;
    height: 4rem;
    font-size: 2rem;
    font-family: 'Comic Neue', cursive;
    text-transform: uppercase;
    cursor: pointer;
}
.contact button:hover {
    background: #000;
    color: #fff;
}
.contact button[disabled]:hover {
    background: #ffa580;
    color: rgba(16, 16, 16, 0.3);
    cursor: not-allowed;
}
.contact .thankyou_message{
    position: absolute;
    z-index: 1;
    bottom: 125%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#000;
    width: 100%;
    height: 50px;
    color:#fff;
    line-height: 50px;
    text-align: center;
}
.contact .thankyou_message::after{
    content:"";
    position: absolute;
    top:100%;
    left:50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}
@media (max-width: 800px){
    #nav .menu {
        display: none;
    }
    #nav .mNav {
        display: block;
    }
    #nav{
        width: 100%;
    }
    #nav .menu {
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #nav .menu li {
        background-color: rgba(255,255,255,1);
        width: 100%;
        display: inline-block;
        text-align: left;
        text-indent: 1rem;
        border-bottom: 1px solid rgba( 0,0,0,0.08 );
    }
    #nav .menu li a{
        color: rgb(163, 159, 159);
    }
    #nav .menu li.active a{
        color: #000;
    }
    #nav.on .menu li.active a:after{
        width: 0;
    }
    .post-it-note{
        font-size: 10vw;
    }
    .txt_head{  
        font-size: 5.8rem;
    }
    #section4{
        flex-flow: column wrap;
        justify-content: center;
        align-content: space-around;
    }
    #section4 .app_container{
        width: 100vw;
        height: auto;
    }
    #section4 dl{
        width: 100vw;
        height: auto;
    }
    #section5{
        min-height: 220vh;
        flex-flow: column wrap;
        justify-content: center;
    }
    #section5 .contactImg, #section5 .contact{
        width: 100%;
    }
    .contact form{
        width: 80vw;
    }
    .contact h3{
        font-size: 10vw;
    }
}
@media (max-width: 480px){
    .post_7 img, .post_8 img{
        min-width: 50px;
    }
    .txt_head{  
        font-size: 3.5rem;
    }
}